
#clases {
	background-image: url("../img/textura_2.jpg"); 
	background-repeat: repeat;
	background-position: right;
	width: 100%;
	height: auto;
	padding: 50px 0px;
}

.bgblack {
	background-color: rgba(0,0,0,0.4);
	padding: 20px;
	width: 100%;
	height: 100px; 
	z-index: 2;

}

/* SAN!! ESTO NO ESTÃ CORRECTO >.< */

#imgfondo {
	background-image: url("../img/dance_12.jpg"); 
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 400px;
	padding: 150px 15px;
}

#imgfondo1 {
	background-image: url("../img/breakdance.jpg"); 
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 400px;
	padding: 150px 15px;
}

#imgfondo2 {
	background-image: url("../img/lirical-jazz.jpg"); 
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 400px;
	padding: 150px 15px;
}

#imgfondo3 {
	background-image: url("../img/arabe.jpg"); 
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 400px;
	padding: 150px 15px;
}

#imgfondo4 {
	background-image: url("../img/little.jpg"); 
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 400px;
	padding: 150px 15px;
}

#imgfondo5 {
	background-image: url("../img/yoga.jpg"); 
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 400px;
	padding: 150px 15px;
}

