nav {
	padding: 3% 20%;
}

nav ul {
	top: 35px;
	list-style-type: none;
	white-space: nowrap;
	position: center;
	line-height: 14px;
	float: right;
}

nav li {
	position: relative;
	padding: 0px;
	margin: 15px;
	font-size: 22px;
	font-weight: 3px;
	float: left;
} 

nav li:hover a {
	background: #84B1CC; 
}

nav a {
	text-decoration: none;
	padding: 8px 8px;
	color: black;
	text-shadow: 2px 2px 4px #E1BEE7; 
	border-radius: 10px;
}

/* Contáctanos */

#contactanos {
	background-image: url("../img/shoes_1.jpg"); 
	background-repeat: no-repeat;
	background-position: right;
	height: 466px;
}


/*Footer*/

footer {
	background-color: #001F33;
	padding: 2%;
	text-align: left;
}

form {
	width: 450px;
	margin: auto;
	padding: 10px 20px;
	box-sizing: border-box;
	margin-top: 20px;
}

h2 {
	color: #001F33;
	margin: 15px;
	font-size: 30px;
}

input, textarea {
	width: 100%;
	margin-bottom: 20px;
	padding: 7px;
	font-size: 18px;
}

textarea {
	min-height: 100px;
	max-height: 200px;
	max-width: 100%;
}

#boton {
	background-color: #001F33;
	color: white;
	padding: 20px;
}

#boton:hover {
	cursor: pointer;
}

@media (max-width: 480px) {
	form {
		width: 100%;
	}
}