nav {
	padding: 3% 20%;
}

nav ul {
	top: 35px;
	list-style-type: none;
	white-space: nowrap;
	position: center;
	line-height: 14px;
	float: right;
}

nav li {
	position: relative;
	padding: 0px;
	margin: 15px;
	font-size: 22px;
	font-weight: 3px;
	float: left;
} 

nav li:hover a {
	background: #FCE4EC; 
}

nav a {
	text-decoration: none;
	padding: 8px 8px;
	color: black;
	text-shadow: 2px 2px 4px #E1BEE7; 
	border-radius: 10px;
}

/* Contáctanos */

#contactanos {
	background-image: url("../img/shoes_1.jpg"); 
	background-repeat: no-repeat;
	background-position: right;
	height: 466px;
}


/*Footer*/

footer {
	background-color: #001F33;
	padding: 2%;
	text-align: left;
}